*.sdf
*.vcxproj.user
*.VC.opendb
.vs
.vscode

xcuserdata
*.xcworkspace
xcshareddata

WSATestCertificate.pfx*

UnityProject/*.csproj
UnityProject/*.sln
UnityProject/Library
UnityProject/Temp
UnityProject/UWP
UnityProject/Logs
UnityProject/obj

PluginSource/build
PluginSource/projects/Android/libs/*
PluginSource/projects/Android/obj/*

UnityProject/UserSettings